body {
    background-image: url(images/retro-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
}

.career-title-container {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.career-title-height {
    height: 120px;
    width: 100%;
}

#zig-zag-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.computer-monitor {
    background-image: url(images/computer_monitor.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    /* padding-top: 55%; */
    height: 500px;

    position: relative;
}

.company-logo {
    height: 59.5%;
    width: 74%;

    position: absolute;
    top: 10.5%;
    left: 13%;

    border-radius: 6px;

    margin-left: auto;
    margin-right: auto;
}