body {
    background-image: url(images/retro-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.primary-text {
    color: #2c23b5;
    font-weight: bold;
    font-family: Arial;
    /* color: rgb(44, 35, 181); */
}

.career-title-container {
    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.career-title-height {
    height: 120px;
    width: 100%;
}

#zig-zag-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.computer-monitor {
    background-image: url(images/computer_monitor.png);
    background-repeat: no-repeat;
    background-size: cover;

    width: 60%;
    padding-top: 66%;

    position: relative;
}

.company-logo {
    height: 59.5%;
    width: 74%;

    position: absolute;
    top: 10.5%;
    left: 13.1%;

    border-radius: 2%;

    margin-left: auto;
    margin-right: auto;

    cursor: pointer;
}

.company-position-container {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.company-name {
    font-size: 40px;
}

.position-title {
    font-size: 30px;
}

.position-time-period {
    font-size: 30px;
}

.modal {
    box-sizing: border-box;
    padding: 20px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 900px;
    box-sizing: border-box;

    background-color: whitesmoke;
    border-radius: 10px;

    padding: 25px 25px 25px 0px;
    margin-bottom: 20px;

    position: relative;
}

.modal-side-line-container {
    position: absolute;
    padding: 70px 25px;
    width: 3px;
    left: 0;
    top: 0;
    height: 100%;
    box-sizing: border-box;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 5px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-side-line {
    border-left: 3px solid black;
    height: 100%;
}

.modal-side-circle {
    border-radius: 50%;
    background-color: black;
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin: 19px;
    margin-top: 32px;
}

.modal-top-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    align-content: start;
}