body {
    background-image: url(images/main_screen_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: auto;
}

.centerer {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    min-height: 100vh;

    background-color: transparent;
}

.card {
    width: 100%;
    max-width: 1000px;
    height: 650px;
    background-color: transparent;

    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 100%;

    border-radius: 4px;

    backface-visibility: hidden;

    background-image: url(images/paper_texture.jpg);
    background-repeat: repeat;
}

.card-front {
}

@keyframes click-me-anim {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

#click-me {
    z-index: 50;
    position: absolute;
    text-align: center;
    height: 32px;
    width: 140px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -300px; left: 0; bottom: 0; right: 0;


    background-color: rgb(65, 65, 65);
    opacity: 0.75;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    animation-name: click-me-anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    padding: 5px;
    color: white;
}

.card-back {
    transform: rotateY(180deg);
}

.text-color {
    color: #997a00;
    font-weight: 600;
}


.front-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.front-top-container {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone-number {
    font-size: 120%;
}

.front-link {
    cursor: pointer;
    text-decoration: none;
}


.front-middle-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.name-title-container {
    text-align: center;
}

.name {
    font-size: 220%;
    font-weight: 800;
    margin-bottom: 10px;
}

.title {
    font-size: 180%
}

.address {
    font-size: 130%;
    text-align: center;
    height: 48px;
}

.back-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.bio-container {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio-container > :not(:first-child) {
    margin-top: 30px;
}

.portrait {
    background-image: url(images/portrait.jpg);
    background-size: cover;

    height: 250px;
    width: 250px;
    border-radius: 5px;
}

.bio-text {
    font-size: 120%;
    max-width: 350px;
    text-align: center;
}

.back-separator {
    height: 100%;
    border-left: 1px solid #997a00;
}

.site-nav-container {
    flex-grow: 1;
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-nav-container > :not(:first-child) {
    margin-top: 30px;
}

.nav-link {
    font-size: 150%;
    padding: 6px;
}

.nav-link:hover {
    padding: 4px;
    border: 2px solid #997a00;
    border-radius: 5px;
    text-decoration: none;
}